.list {
    width: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    border-radius: 15px;
    box-shadow: 4px 4px 5px #102510;
}

.item {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    font-weight: 600;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #102510;
    cursor: grab;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    cursor: pointer;
}
